<%= form_for(@tags_of_novel) do |f| %>
  <% if @tags_of_novel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tags_of_novel.errors.count, "error") %> prohibited this tags_of_novel from being saved:</h2>

      <ul>
      <% @tags_of_novel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :novel_id %><br />
    <%= f.number_field :novel_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.number_field :tag_id %>
  </div>
  <div class="field">
    <%= f.label :cont %><br />
    <%= f.number_field :cont %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
