<h1>Listing novels</h1>

<table>
  <tr>
    <th> title</th>
    <th>Author</th>
    <th>Editor</th>
    <th>Year</th>
    <th>Num pages</th>
    <th>Cover</th>
    <th>Isbn</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @novels.each do |novel| %>
  <tr>
    <td><%= novel. title %></td>
    <td><%= novel.author %></td>
    <td><%= novel.editor %></td>
    <td><%= novel.year %></td>
    <td><%= novel.num_pages %></td>
    <td><%= novel.cover %></td>
    <td><%= novel.isbn %></td>
    <td><%= novel.description %></td>
    <td><%= link_to 'Show', novel %></td>
    <td><%= link_to 'Edit', edit_novel_path(novel) %></td>
    <td><%= link_to 'Destroy', novel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Novel', new_novel_path %>
