<h1>RoManzi</h1>
<p>
<br>
<%= form_tag novels_path, :method => 'get' do %>  
 <p>  
   <%= text_field_tag :search, params[:search] %>  
   <%= submit_tag "Search", :name => nil %>  
 </p>  
<% end %>  
<% if flash[:notice]%>
	<%= flash[:notice] %>
<% end %>
</p>
<br>
<% if current_user %>
    Welcome back <%= link_to_user current_user %> (<%= link_to "logout", "/sessions/destroy" %>)
  <% else %>
    Please <%= link_to "log in", "/sessions/new" %> or 
    <%= link_to "sign in", "/users/new" %>
<% end %>
<br>
<% if @novels.size == 0 %>
    <br>
    No results found. Please try again.
    <br>
<% end %>
<br>

<table border=1px>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Author</th>
    <th>User</th>
    <th>Comments</th>
  </tr>

<% @page_num = params[:page_num] %>
<% if @page_num == nil %>
<% 	@page_num = 1 %>
<% end %>

<% for i in 0..5 %>
  <% novel = @novels[i + ((@page_num.to_i - 1) * 6)] %>
  <% if novel == nil %>
  <%    break %>
  <% end %>
  <tr>
    <td><a href="<%=novel.cover%>"><img src="<%= novel.cover %>" alt="aiuto!" 
    				width="50px" height="75px"></a></td>
    <td><%= link_to novel.title, novel %></td>
    <td><%= link_to_author novel.author %></td>
    <td><%= link_to_user novel.user_id %></td>
    <% size = novel.get_comments.size%>
    <% if(size == 0) %>
        <td>-</td>
    <% else %>
        <td><%= size %></td>
    <% end %>
    <% if current_user != nil && (current_user.is_admin == true || current_user.id == novel.user_id)%>
        <td><%= link_to 'Edit', edit_novel_path(novel) %></td>
        <td><%= link_to 'Remove', novel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br>

<% if current_user %>
    <%= link_to 'New Novel', "/novels/new" %>
<% end %>
<br>

<% if(has_previous_page @page_num.to_i) %>
<%=     link_to 'Previous', "/#{@page_num.to_i - 1}" %>
<% end %>

<% if(has_next_page @page_num.to_i) %>
<%=     link_to 'Next', "/#{@page_num.to_i + 1}" %>
<% end %>


