<p>
  <b>Title:</b>
  <%= @novel.title %>
</p>

<p>
  <b>Author:</b>
  <%= @novel.author %>
</p>

<p>
  <b>Editor:</b>
  <%= @novel.editor %>
</p>

<p>
  <b>Year:</b>
  <%= @novel.year %>
</p>

<p>
  <b>Num pages:</b>
  <%= @novel.num_pages %>
</p>

<p>
  <b>Cover:</b>
  <br>
  <a href="<%= @novel.cover%>"><img src="<%= @novel.cover %>" alt="aiuto!" 
    				width="100px" height="150px"></a>
</p>

<p>
  <b>Isbn:</b>
  <%= @novel.isbn %>
</p>

<p>
  <b>Description:</b>
  <%= @novel.description %>
</p>

<% if current_user %>
   <form id="new_comment" action="/comments/create/<%= @novel.id %>" method="post">
    <p>
      <textarea name="comment[comment]"></textarea>
    <br>
    	Rating:
    	<select name="comment[valutation]">
    	<% for i in 1..5 %>
    		<option><%= i %> </option>
    	<% end %>
    	</select>
    	
    </p>
    <p>
      <input type="submit" value="Leave comment" />
    </p>
  </form>
<% end %>

<table border=1px>
  <% for comment in @novel.get_comments %>
  	<tr>
  		<td><%= comment.valutation %>/5</td>
  		<td><%= comment.comment %></td>
  		<td><%= link_to_user comment.user_id %></td>
  		<td><%= time_ago_in_words(comment.created_at) %></td>
  		<% if current_user != nil && (comment.user_id == current_user.id || current_user.is_admin) %>
   			<td><%= link_to 'Edit', edit_comment_path(comment) %></td>
		<% end %>
  	</tr>
  <% end %>
</table>

<% if current_user != nil && (@novel.user_id == current_user.id || current_user.is_admin) %>
   <%= link_to 'Edit', edit_novel_path(@novel) %>
   | 
<% end %>
<%= link_to 'Back', novels_path %>
